# Dependencies
node_modules/
**/node_modules/
.pnp
.pnp.js

# Testing
coverage/

# Angular
.angular/
dist/
**/dist/
frontend/dist/
frontend/.angular/

# Maven & Java
target/
**/target/
*.class
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar
backend/data/campusdb*
*.mv.db
*.trace.db

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDE & OS
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.DS_Store
Thumbs.db
